<html ng-app="demo">
<head>
  <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog-theme-default.min.css"/>
  <link rel="stylesheet" href="../bower_components/ngDialog/css/ngDialog.min.css"/>
  <link rel="stylesheet" href="styles.css"/>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Montserrat:700|Pacifico' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../lib/ngCrop.css"/>

  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/ng-file-upload/angular-file-upload-all.min.js"></script>
  <script src="../bower_components/ngDialog/js/ngDialog.min.js"></script>
  <script src="../lib/ngCrop.js"></script>

  <script type="text/ng-template" id="cropModal.html">
    <div class="ngdialog-message">
      <h3>Upload and Crop</h3>
      <div ng-class="{'ng-hide': state != 'upload'}">
        <div
          class="file-drop"
          ng-file-drop ng-model="myFiles"
          ng-file-change="fileDropped($files, $event, $rejectedFiles)"
          ng-multiple="false"
          ng-accept="'image/*'"
          drag-over-class="{accept:'acceptClass', reject:'rejectClass', delay: 100}"
          stop-propogation="true"
          hide-on-drop-not-available="true">
        </div>
        <button type="file" class="ngcrop-button"
                ng-file-select ng-model="myFiles"
                ng-file-change="fileDropped($files, $event)"
                ng-multiple="false"
                accept="'image/*'"
                ng-accept="'image/*'">
          Select Image
        </button>
      </div>
      <div ng-class="{'ng-hide': state != 'cropping'}"></div>

    </div>
    <div class="ngdialog-buttons">
      <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Cancel</button>
      <button ng-class="{'ng-hide': state === 'upload'}" type="button" class="ngdialog-button ngdialog-button-primary" ng-click="cropAndClose()">Crop and Save</button>
    </div>
  </script>

  <script>
    angular.module('demo', ['ngCrop'])
      .controller('MainCtrl', function($scope, ngCrop) {
        $scope.show = function() {
          ngCrop.show().then(function(res) {
            console.dir(res);
          }).catch(function() {
            console.log('nothing happened');
          })
        }
      });
  </script>
</head>

<body ng-controller="MainCtrl">
<style>#forkongithub a{background:#FCFFF5;color:#000;text-decoration:none;font-family:arial,sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:1rem;line-height:2rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#3E606F;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;top:1px;left:0;height:1px;background:#000;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:fixed;display:block;top:0;right:0;width:200px;overflow:hidden;height:200px;z-index:9999;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style><span id="forkongithub"><a href="https://github.com/DropsOfSerenity/ngCrop">Fork me on GitHub</a></span><section class="demo">
  <div class="demo-intro">
    <h1>ngCrop</h1>
    <p>
      ngCrop is a simple, drop in angular service that allows for easy image
      cropping. Use it for your avatar upload and crop needs!
    </p>
    <img ng-if="imgSrc" ng-src="{{imgSrc}}" alt=""/>
    <button class="demo-cta" ng-click="show()">Show Cropper</button>
  </div>
</section>
</body>

</html>